<h1>Log in: </h1>
<form action="/login" method="POST">
<label>Email: <input type="text" name="user[email]"></label>
<label>Password: <input type="text" name="user[password]"></label>
<input type="submit" value="Log in">
</form>
