<h1>All Centers: </h1>
<ol>
  <% @centers.each do |c|%>
    <li><a href="/centers/<%= c.id %>"><%= c.name %>: <%= c.address %></a>
    rate: <%= "%.2f" % c.average %>
    <br>
  <% end %>
</ol>
<br>

<h2><a href="/reviews/new">Make a review now!</a></h2>
