
<h1>Create a review: </h1>
<form action="/reviews" method="POST">

  <h2>Choose a center:</h2>
    <% @centers.each do |c|%>
    <a href="/centers/<%= c.id %>"><%= c.name %></a><input type="radio" name="review[center_id]" value="<%= c.id %>">
    <br>
    <% end %>

  <h3><a href="/centers/new">or create a new center</a></h3>

  <label>Rate(5 is the best):
    <input type="radio" name="rate[rate_value]" value="1">1
    <input type="radio" name="rate[rate_value]" value="2">2
    <input type="radio" name="rate[rate_value]" value="3">3
    <input type="radio" name="rate[rate_value]" value="4">4
    <input type="radio" name="rate[rate_value]" value="5">5
  </label>
  <br>
  Content: <textarea name="review[content]"></textarea><br>
  <input type="submit" value="Create your review">
</form>
