<h1>Welcome to the Daycare Center Website!</h1>
<br>
<br>
<p>Here, you can do the following easily:
   <a href="/signup">create your account</a>,
   <a href="/login">log in your account</a>,
   <>
   <a href="/center/new">create a daycare center</a>
   <a href="/reviews">share your opinions with everyone else!</a>
</p>
