<h1>Welcome to the Daycare Center Website!</h1>
<br>
<br>
<h3>Here, you can do the following easily: </h3>

<ul>
    <li><u>check out centers and reviews<li>
    <li><u>add a new daycare center<li>
    <li><u>share your opinions with everyone else!<li>
<ul>

<br>
<h3>Let's start your trip here!</h3>
<ul>
  <li><a href="/signup">Sign up</a></li>
  <li><a href="/login">Log in</a></li>
</ul>
