<h1>Welcome to the Daycare Center Website!</h1>
<br>
<br>
<p>Here, you can <a href="/signup">create your account</a>, <a>log in your account<a>, <a> a daycare center<a> and <a>share your opinions<a> with everyone else!</p>
