<h1>Welcome to the Daycare Center Website!</h1>
<br>
<br>

<h3>Let's start your trip here!</h3>
<h4><a href="/centers">Centers </a></h4>
<h4><a href="/reviews">Reviews </a></h4>

<br>
<br>
<ul>
  <li><a href="/signup">Sign up</a></li>
  <% if !log_in? %>
  <li><a href="/login">Log in</a></li>
  <% else %>
  <li><a href="/logout">Log out</a></li>
  <% end %>
</ul>
